@import './../../../../scss/variables';
@import './../../../../scss/mixins';

.contenedor{
    display: grid;
    grid-template-columns: $margenContenido auto $margenContenido;
    grid-template-columns: 5% auto 5%;
    border-bottom: 3px solid $colorPrimario;
    background-color: $colorSecundario;


    .contLogo {
      padding: 10px 0;
      display: grid;
      grid-template-columns: repeat(2, 50%);
      @include Asmall() {
        text-align: center;
      }

      .logoCliente {
        width: 190px;
        @include Asmall() {
          width: 120px;
        }
      }
      .logoSantander {
        width: 150px;
        align-self: center;
        justify-self: right;
        @include Asmall() {
          width: 110px;
        }
      }
    }

}
